mlruns/
dvc==3.59.0
dvc-gdrive==3.0.1
mlflow==2.20.2
venv/
/.vscode
# Ignore MLflow artifacts
mlruns/

# Ignore configs folder
configs/
predictions/Food_Drive_2024_Predictions.csv
prometheus/prometheus.yml
# Ignore logs directory
logs/
logs/predict.log
logs/train.log

# Compiled python cache
__pycache__/

.dvc/

data/processed/
data/raw/

# Ignore user-specific configuration
.bash*
.aws/
.azure/
.cache/
.conda/
.huggingface/
.gitconfig
.history